<br>

<div class="row">
    <div class="col">
        <div class="cold-md">
            <div style="margin:30px" class="card text-center text-white mb-3" id="total-students">
                <div class="card-header">
                    <h5 class="card-title">Total Students</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{students_no}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="cold-md">
            <div style="margin:30px" class="card text-center text-white mb-3" id="courses-finished">
                <div class="card-header">
                    <h5 class="card-title">Finished Courses</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{done_courses}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="cold-md">
            <div style="margin:30px" class="card text-center text-white mb-3" id="courses-remaining">
                <div class="card-header">
                    <h5 class="card-title">Remaining Courses</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{remaining_courses}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>