
#logo {
}

body {
    background-color: #AAC3C8;
}

#total-students {
    background-color: #4cb4c7;
}

#courses-finished {
    background-color: #7abecc;
}

#courses-remaining {
      background-color: #7CD1C0;
}
